---
---

<header>
  <div class="content"></div>
</header>

<style>
  header {
    max-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1px auto;
    padding: 0.3rem 3rem;
    border-bottom: 1px solid #ddd;
    position: fixed;
    background-color: #fff;
    top: -1px;
    z-index: 10;
  }

  header .content {
    max-width: 1200px;
    width: 100%;
    display: flex;
  }
</style>
