---
const { frontmatter } = Astro.props;
const title = frontmatter.title;
---

<article id="article" class="content">
  <section class="main-section">
    <slot />
  </section>
</article>

<style>
  .content {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 75ch;
    width: 100%;
  }

  .content > section {
    margin-bottom: 4rem;
  }

  .block {
    display: block;
  }

  .content-title {
    font-size: 2em;
  }

  @media (min-width: 50em) {
    .sm\:hidden {
      display: none;
    }
  }
</style>
