NAME="${OS_NAME}"
VERSION="${OS_VERSION}"
ID="c3os"
ID_LIKE="suse opensuse"
VERSION_ID="${OS_VERSION}"
PRETTY_NAME="${OS_NAME} ${OS_VERSION}"
ANSI_COLOR="0;32"
BUG_REPORT_URL="https://github.com/mudler/c3os/issues"
HOME_URL="https://github.com/mudler/c3os"
IMAGE="${OS_REPO}:${OS_LABEL}"
IMAGE_REPO="${OS_REPO}"
IMAGE_LABEL="${OS_LABEL}"