[submodule "immucore"]
	path = immucore
	url = git@github.com:jimmykarily/immucore.git
	branch = spike/monorepo-extract-root
[submodule "kairos-agent"]
	path = kairos-agent
	url = git@github.com:jimmykarily/kairos-agent.git
	branch = spike/monorepo-extract-root
[submodule "kcrypt-discovery-challenger"]
	path = kcrypt-discovery-challenger
	url = git@github.com:jimmykarily/kcrypt-discovery-challenger.git
	branch = spike/monorepo-extract-root
[submodule "kairos-sdk"]
	path = kairos-sdk
	url = git@github.com:kairos-io/kairos-sdk.git
	branch = main
