*.iso
*.iso.sha256
/cli/kairos
/cli/cli
/kairos
/dist
/build
coverage.out
.DS_Store
internal/webui/public/cypress/videos/

node_modules/

# editor and IDE paraphernalia
.idea
.envrc
.go-version

CHANGELOG_BUMP