*.iso
*.iso.sha256
/cli/kairos
/cli/cli
/kairos
/dist
/build
/bin
/keys
/trivy-cache
coverage.out
tests/logs/
tests/assets/encryption/challenger-patch.yaml
tests/assets/encryption/challenger-server-ingress.yaml
.DS_Store
internal/webui/public/cypress/videos/
pr-message

node_modules/

# editor and IDE paraphernalia
.idea
.envrc
.go-version
*.iso.zip
