set kernel=/boot/vmlinuz
# temporarly disabling SELinux until we have a profile (https://github.com/kairos-io/kairos/issues/114)
if [ -n "$recoverylabel" ]; then
    # Boot arguments when the image is used as recovery
    set kernelcmd="console=tty1 root=live:CDLABEL=$recoverylabel rd.live.dir=/ rd.live.squashimg=$img panic=5 selinux=0"
else
    # Boot arguments when the image is used as active/passive
    set kernelcmd="console=tty1 root=LABEL=$label net.ifnames=1 iso-scan/filename=$img panic=5 rd.cos.oemlabel=COS_OEM selinux=0"
fi

set initramfs=/boot/initrd
