[Unit]
Description=c3os agent
After=cos-setup-network.service
Wants=network.target
[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/c3os-agent start
[Install]
WantedBy=multi-user.target
