---
---

<div class="box">
  <slot />
</div>

<style>
  .box {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1em;
    background: rgba(77, 158, 240, 0.1);
    border: 1px solid rgba(77, 158, 240, 0.4);
  }

  .box code {
    background: rgba(77,158,240,0.1);
    border: 1px solid rgba(77,158,240,0.4);
  }
</style>
