NAME="${OS_NAME}"
VERSION="${OS_VERSION}"
ID="${OS_ID}"
ID_LIKE="${OS_NAME}"
VERSION_ID="${OS_VERSION}"
PRETTY_NAME="${OS_NAME} ${OS_VERSION}"
ANSI_COLOR="0;32"
BUG_REPORT_URL="${BUG_REPORT_URL}"
HOME_URL="${HOME_URL}"
IMAGE_REPO="${OS_REPO}"
IMAGE_LABEL="${OS_LABEL}"
GITHUB_REPO="${GITHUB_REPO}"
VARIANT="${VARIANT}"
FLAVOR="${FLAVOR}"