NAME="${OS_NAME}"
VERSION="${OS_VERSION}"
ID="c3os"
ID_LIKE="${OS_NAME}"
VERSION_ID="${OS_VERSION}"
PRETTY_NAME="${OS_NAME} ${OS_VERSION}"
ANSI_COLOR="0;32"
BUG_REPORT_URL="https://github.com/c3os-io/c3os/issues"
HOME_URL="https://github.com/c3os-io/c3os"
IMAGE_REPO="${OS_REPO}"
IMAGE_LABEL="${OS_LABEL}"
GITHUB_REPO="c3os-io/c3os"