.navbar {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.sidebar {
  position: relative;
}

#esc-button {
  z-index: 11;
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 27px;
}

#esc-button:active {
  color: #ee5007;
}

@media (min-width: 1024px) {
  #esc-button {
    display: none;
  }
}

.sidebar > nav {
  left: 0px;
  transition: left 0.3s ease-out;
}

.sidebar-hidden > nav {
  border-right: 0;
  left: -300px;
  transition: left 0.3s ease-out;
}

.sidebar-hidden > #esc-button {
  display: none;
}

.navbar-wrap {
  position: fixed;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 10;
  padding: 24px;
}

@media (min-width: 1024px) {
  .navbar-wrap {
    display: none;
  }
}

#hamburger {
   font-size: 27px;
    height: 27px;
}

.navbar-wrap > svg:active {
  color: #ee5007;
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  opacity: 1;
  z-index: 9;
  position: fixed;
}

.overlay-hidden {
  display: none;
}