.nav {
  width: 100%;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.nav-list {
  padding: 0;
  overflow-x: visible;
  margin: 0;
  padding-left: 1.6rem;
}

.nav > .nav-list {
  padding: 1px 1rem 1rem 1rem;
  margin-top: -1px;
  background-color: #fafafa;
}

.nav-group-title {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.1rem 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.nav-link a {
  font-size: 1rem;
  font: inherit;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  opacity: 0.9;
  line-height: 1.3;
  position: relative;
  width: fit-content;
}

.nav-group {
  margin: 1.2rem 0;
}

.nav-group > a {
  opacity: 1;
  font-weight: bold;
  margin-bottom: 0;
}

.nav-link > a:hover {
  text-decoration: none;
  color: #E06948;
}

.nav-link > a:hover {
  color: #E06948;
}

.nav-link:not(.nav-group) > a[aria-current="page"] {
  color: #E06948;
}

.nav-group > a[aria-current="page"]::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e06948;
  bottom: 0px;
  right: 0;
}


.nav > .hero-logo {
  padding: 36px;
  margin: 0px auto;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav > .hero-logo::after {
  content: "DOCS";
  display: block;
  font-weight: 500;
}

#grid-left {
  background-color: #fff;
  position: relative;
    max-width: 300px;
    min-width: 300px;
    width: 100%;
}