extends: default

rules:
  # 80 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 150
    level: warning
    ignore: "tests/assets/qrcode.yaml" # tokens are big

  # accept both     key:
  #                   - item
  #
  # and             key:
  #                 - item
  indentation:
    indent-sequences: whatever

  truthy:
    check-keys: false

  document-start:
    present: false
    ignore: "*" # There are multiple yamls in the same file, we need this sometimes

  comments:
    ignore: "tests/assets/*" # our #cloud-config header doesn't take a space after the "#"
