set kernel=/boot/vmlinuz
if [ -n "$recoverylabel" ]; then
    # Removed console=ttyS0 (don't use it), and also rd.neetnet=1 which results in dupliate ips
    # Added fancy vga=795 nomodeset
    set kernelcmd="console=tty1 root=live:LABEL=$recoverylabel rd.live.dir=/ rd.live.squashimg=$img panic=5"
else
    # set kernelcmd="console=tty1 root=LABEL=$label cos-img/filename=$img panic=5 security=selinux selinux=1 rd.cos.oemlabel=COS_OEM rd.neednet=0 vga=795 nomodeset"
    set kernelcmd="console=tty1 root=LABEL=$label cos-img/filename=$img panic=5 security=selinux selinux=0 rd.cos.oemlabel=COS_OEM rd.neednet=0 vga=795"
fi

set initramfs=/boot/initrd
