name: Build Examples

on:
  push:
    paths:
      - 'examples/builds/**'

jobs:
  build:
    name: ${{ matrix.example-dir }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example-dir:
          - "fedora-fips"
          - "rockylinux-fips"
          - "ubuntu-non-hwe"
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
        with:
          driver-opts: network=host
      - name: Build Dockerfile
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6
        with:
          file: examples/builds/${{ matrix.example-dir }}/Dockerfile
          context: examples/builds/${{ matrix.example-dir }}
