name: Build Examples

on:
  push:
    paths:
      - 'examples/builds/**'

jobs:
  build:
    name: ${{ matrix.example-dir }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example-dir:
          - "fedora-fips"
          - "rockylinux-fips"
          - "ubuntu-non-hwe"
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          driver-opts: network=host
      - name: Build Dockerfile
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: examples/builds/${{ matrix.example-dir }}/Dockerfile
          context: examples/builds/${{ matrix.example-dir }}
