name: Build and test PRs
on:
  pull_request:
    paths:
      - '**'

concurrency:
  group: ci-image-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
env:
  FORCE_COLOR: 1
jobs:
  build:
    uses: kairos-io/kairos/.github/workflows/reusable-build-flavor.yaml@master
    with:
      flavor: ubuntu

  install-test:
    uses: kairos-io/kairos/.github/workflows/reusable-build-flavor.yaml@master
    with:
      flavor: ubuntu
    needs:
      - build

  zfs-test:
    uses: kairos-io/kairos/.github/workflows/reusable-zfs-test.yaml@master
    with:
      flavor: ubuntu
    needs:
      - build

  qemu-acceptance-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-qemu-acceptance-test.yaml@master
    with:
      flavor: ubuntu
    needs:
      - build

  qemu-bundles-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-qemu-bundles-test.yaml@master
    with:
      flavor: ubuntu
    needs:
      - build

  qemu-reset-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-qemu-reset-test.yaml@master
    with:
      flavor: ubuntu
    needs:
      - build

  qemu-netboot-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-qemu-netboot-test.yaml@master
    with:
      flavor: ubuntu
    needs:
      - build

  upgrade-with-cli-test:
    uses: kairos-io/kairos/.github/workflows/reusable-upgrade-with-cli-test.yaml@master
    with:
      flavor: ubuntu
    needs:
      - build

  upgrade-latest-with-cli-test:
    uses: kairos-io/kairos/.github/workflows/reusable-upgrade-latest-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ubuntu
    needs:
    - build

  encryption-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-encryption-test.yaml@master
    with:
      flavor: ubuntu
      label: ${{ matrix.label }}
    needs:
      - build
    strategy:
      fail-fast: true
      matrix:
        label:
          - "local-encryption"
          - "remote-auto"
          - "remote-static"
          - "remote-https-pinned"
          - "remote-https-bad-cert"
