name: 'Build AMD64 images (PR)'

on:
  pull_request:

permissions:
  contents: write
  security-events: write
  id-token: write
  actions: read
concurrency:
  group: ci-pr-amd64-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  build:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      model: "generic"
      arch: "amd64"
      version: "auto"
      iso: true
      grype: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      registry_repository: "ci-temp-images"
      custom_tag_format: "$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL-$COMMIT_SHA"
      custom_artifact_format: "kairos-$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL"
      image_labels: "quay.expires-after=6h"
      summary_artifacts: true
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.1"
          - "ubuntu:25.10"
          - "ubuntu:24.04"
          - "alpine:3.21"
  lifecycle-tests:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-qemu-test.yaml
    with:
      base_image: ${{ matrix.base_image }}
      test: ${{ matrix.test }}
      secureboot: ${{ matrix.secureboot || false}}
      release-matcher: ${{ matrix.release-matcher || '' }}
      variant: "core"
      arch: "amd64"
      model: "generic"
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        secureboot: [false]
        base_image:
          - "ubuntu:25.10"
          - "ubuntu:24.04"
          - "alpine:3.21"
        test:
          - "custom-partitioning"
          - "acceptance"
          - "install"
          - "install-target"
          - "reset"
          - "upgrade-with-cli"
          - "upgrade-latest-with-cli"
        include:
          - test: "install"
            secureboot: true
            base_image: "ubuntu:25.10"
          - test: "zfs"
            base_image: "ubuntu:25.10"
          - test: "bundles"
            base_image: "ubuntu:25.10"
          - test: "install"
            secureboot: true
            base_image: "ubuntu:24.04"
          - test: "zfs"
            base_image: "ubuntu:24.04"
          - test: "bundles"
            base_image: "ubuntu:24.04"
          - test: "upgrade-latest-with-cli"
            base_image: "ubuntu:25.10"
          - test: "install"
            base_image: "ghcr.io/kairos-io/hadron:v0.0.1"
          - test: "custom-partitioning"
            base_image: "ghcr.io/kairos-io/hadron:v0.0.1"
          - test: "acceptance"
            base_image: "ghcr.io/kairos-io/hadron:v0.0.1"
          - test: "install-target"
            base_image: "ghcr.io/kairos-io/hadron:v0.0.1"
          - test: "reset"
            base_image: "ghcr.io/kairos-io/hadron:v0.0.1"
            # Whenever there's a new flavor e.g. ubuntu-25.10 but we haven't released a kairos version with it, you can use the release matcher to match to a previous version, e.g. ubuntu-24.04
            # release-matcher: "kairos-ubuntu-24.04-core-amd64-generic-v3.6.0.iso"
  encryption-tests:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-encryption-test.yaml
    with:
      base_image: ${{ matrix.base_image }}
      label: ${{ matrix.label }}
      variant: "core"
      arch: "amd64"
      model: "generic"
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.1"
          - "ubuntu:25.10"
          - "ubuntu:24.04"
          - "alpine:3.21"
        label:
          - "encryption-local"
          - "encryption-remote-auto"
          - "encryption-remote-static"
          - "encryption-remote-https-pinned"
          - "encryption-remote-https-bad-cert"
  standard:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      model: "generic"
      arch: "amd64"
      version: "auto"
      iso: true
      grype: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      registry_repository: "ci-temp-images"
      custom_tag_format: "$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL-$KUBERNETES_DISTRO-$COMMIT_SHA"
      custom_artifact_format: "kairos-$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL-$KUBERNETES_DISTRO"
      image_labels: "quay.expires-after=6h"
      summary_artifacts: true
      kubernetes_distro: "k3s"
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.1"
          - "ubuntu:24.04"
  standard-tests:
    name: ${{ matrix.base_image }}
    uses: ./.github/workflows/reusable-qemu-test.yaml
    secrets: inherit
    permissions:
      contents: write
      security-events: write
      id-token: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: ${{ matrix.base_image }}
      test: ${{ matrix.test }}
      variant: "standard"
      arch: "amd64"
      model: "generic"
      kubernetes_distro: "k3s"
      use_bridge_network: ${{ matrix.test == 'provider-decentralized-k8s' }}
    needs:
      - standard
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.1"
          - "ubuntu:24.04"
        test:
          - "provider-qrcode-install"
          - "provider-upgrade"
          - "provider-upgrade-k8s"
          - "provider-upgrade-latest-k8s-with-kubernetes"
          - "provider-decentralized-k8s"
          - "provider-k3s-disabled"
