name: 'Push latest ARM images'

on:
  pull_request:
    paths:
      - '**'

concurrency:
  group: ci-arm-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
env:
  FORCE_COLOR: 1

jobs:
  docker:
    uses: ./.github/workflows/reusable-docker-arm-build.yaml
    with:
      flavor: opensuse-leap-arm-rpi
      model: rpi4
      worker: kvm
