name: 'Build AMD64 images (PR)'

on:
  pull_request:

permissions: read-all
concurrency:
  group: ci-pr-amd64-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  # build:
  #   name: ${{ matrix.base_image }}
  #   uses: ./.github/workflows/reusable-build-flavor.yaml
  #   secrets: inherit
  #   permissions:
  #     contents: write
  #     security-events: write
  #     id-token: write
  #     actions: read
  #     attestations: read
  #     checks: read
  #     deployments: read
  #     discussions: read
  #     issues: read
  #     packages: read
  #     pages: read
  #     pull-requests: read
  #     repository-projects: read
  #     statuses: read
  #   with:
  #     base_image: ${{ matrix.base_image }}
  #     variant: ${{ matrix.variant }}
  #     model: "generic"
  #     arch: "amd64"
  #     event_type: ${{ github.event_name }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       variant: ["core"]  # So it shows up in the name, in case we use it for standard
  #       base_image:
  #         - "ubuntu:24.04"
  #         - "alpine:3.21"
  build-standard:
    name: ${{ matrix.base_image }}
    uses: ./.github/workflows/reusable-build-flavor.yaml
    secrets: inherit
    permissions:
      contents: write
      security-events: write
      id-token: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: ${{ matrix.base_image }}
      variant: ${{ matrix.variant }}
      model: "generic"
      arch: "amd64"
      kubernetes_distro: "k3s"
      kubernetes_version: "latest"
      event_type: ${{ github.event_name }}
    strategy:
      fail-fast: false
      matrix:
        variant: ["standard"]  # So it shows up in the name, in case we use it for standard
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.21"
  # lifecycle-tests:
  #   name: ${{ matrix.base_image }}
  #   secrets: inherit
  #   uses: ./.github/workflows/reusable-qemu-test.yaml
  #   with:
  #     base_image: ${{ matrix.base_image }}
  #     test: ${{ matrix.test }}
  #     secureboot: ${{ matrix.secureboot || false}}
  #     release-matcher: ${{ matrix.release-matcher || '' }}
  #     variant: "core"
  #     arch: "amd64"
  #     model: "generic"
  #   needs:
  #     - build
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       secureboot: [false]
  #       base_image:
  #         - "ubuntu:24.04"
  #         - "alpine:3.21"
  #       test:
  #         - "custom-partitioning"
  #         - "acceptance"
  #         - "install"
  #         - "install-target"
  #         - "reset"
  #         - "upgrade-with-cli"
  #         - "upgrade-latest"
  #       exclude:
  #         - test: "upgrade-latest"
  #           base_image: "alpine:3.21"
  #       include:
  #         - test: "install"
  #           secureboot: true
  #           base_image: "ubuntu:24.04"
  #         - test: "zfs"
  #           base_image: "ubuntu:24.04"
  #         - test: "bundles"
  #           base_image: "ubuntu:24.04"
  #         - test: "upgrade-latest"
  #           base_image: "alpine:3.21"
  #           release-matcher: "kairos-alpine-3.19-core-amd64-generic-v3.3.2.iso"
  # netboot-tests:
  #   name: ${{ matrix.base_image }}
  #   uses: ./.github/workflows/reusable-qemu-netboot-test.yaml
  #   secrets: inherit
  #   with:
  #     base_image: ${{ matrix.base_image }}
  #     variant: "core"
  #     arch: "amd64"
  #     model: "generic"
  #   needs:
  #     - build
  #   strategy:
  #     matrix:
  #       base_image:
  #         - "ubuntu:24.04"
  #         - "alpine:3.21"
  # encryption-tests:
  #   name: ${{ matrix.base_image }}
  #   secrets: inherit
  #   uses: ./.github/workflows/reusable-encryption-test.yaml
  #   with:
  #     base_image: ${{ matrix.base_image }}
  #     label: ${{ matrix.label }}
  #     variant: "core"
  #     arch: "amd64"
  #     model: "generic"
  #   needs:
  #     - build
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       base_image:
  #         - "ubuntu:24.04"
  #         - "alpine:3.21"
  #       label:
  #         - "encryption-local"
  #         - "encryption-remote-auto"
  #         - "encryption-remote-static"
  #         - "encryption-remote-https-pinned"
  #         - "encryption-remote-https-bad-cert"
  standard-tests:
    name: ${{ matrix.base_image }}
    uses: ./.github/workflows/reusable-qemu-test.yaml
    secrets: inherit
    permissions:
      contents: write
      security-events: write
      id-token: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: ${{ matrix.base_image }}
      test: ${{ matrix.test }}
      variant: "standard"
      arch: "amd64"
      model: "generic"
      kubernetes_distro: "k3s"
    needs:
      - build-standard
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.21"
        test:
          - "provider-decentralized-k8s"
