name: 'Build ARM images (Master)'

on:
  push:
    branches:
      - master
      - factory-master-arm

permissions:
  contents: write
  security-events: write
  id-token: write
  actions: read
concurrency:
  group: ci-arm-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  core:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      model: ${{ matrix.model }}
      arch: "arm64"
      version: "auto"
      grype: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      registry_repository: "ci-temp-images"
      custom_tag_format: "$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL-$COMMIT_SHA"
      custom_artifact_format: "kairos-$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL"
      image_labels: "quay.expires-after=2w"
      summary_artifacts: true
      cleanup: ${{ matrix.cleanup }}
    strategy:
      fail-fast: false
      matrix:
        model: ["generic", "rpi4", "rpi3"]
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.21"
        cleanup: [false]
        include:
          - base_image: "ubuntu:22.04"
            model: "nvidia-jetson-agx-orin"
            cleanup: true
          - base_image: "ubuntu:22.04"
            model: "nvidia-jetson-orin-nx"
            cleanup: true
