name: 'Build ARM images (PR)'

on:
  pull_request:

permissions:
  contents: write
  security-events: write
  id-token: write
  actions: read
concurrency:
  group: ci-pr-arm64-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  build-generic:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@13210e132aab7e25564ff2da35dc618c9f41c96e # v0.0.12
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    with:
      auroraboot_version: "v0.19.2"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      model: "generic"
      arch: "arm64"
      version: "auto"
      iso: true
      grype: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      registry_repository: "ci-temp-images"
      custom_tag_format: "$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL-$COMMIT_SHA"
      custom_artifact_format: "kairos-$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL"
      image_labels: "quay.expires-after=6h"
      summary_artifacts: true
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ubuntu:24.04"
  lifecycle-tests:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-qemu-test.yaml
    with:
      base_image: ${{ matrix.base_image }}
      test: ${{ matrix.test }}
      secureboot: ${{ matrix.secureboot || false}}
      release-matcher: ${{ matrix.release-matcher || '' }}
      variant: "core"
      arch: "arm64"
      model: "generic"
    needs:
      - build-generic
    strategy:
      fail-fast: false
      matrix:
        secureboot: [false]
        base_image:
          - "ubuntu:24.04"
        test:
          #- "custom-partitioning"
          - "acceptance"
          #- "install"
          #- "install-target"
          #- "reset"
          #- "upgrade-with-cli"
          #- "upgrade-latest-with-cli"
          #- "bundles"
          #- "zfs"