name: 'Build AMD64 images (PR)'

on:
  pull_request:

permissions:
  contents: write
  security-events: write
  id-token: write
  actions: read
concurrency:
  group: ci-pr-amd64-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  build:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.3"
        kubernetes_distro:
          - ""
          - "k3s"
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      model: "generic"
      arch: "amd64"
      version: "auto"
      iso: true
      grype: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      registry_repository: "ci-temp-images"
      custom_tag_format: "$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL-$COMMIT_SHA"
      custom_artifact_format: "kairos-$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL"
      image_labels: "quay.expires-after=6h"
      summary_artifacts: true
      kubernetes_distro: ${{ matrix.kubernetes_distro }}
  core-tests:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-qemu-test.yaml
    with:
      base_image: ${{ matrix.base_image }}
      test: ${{ matrix.test }}
      secureboot: ${{ matrix.secureboot || false}}
      release-matcher: ${{ matrix.release-matcher || '' }}
      variant: ${{ matrix.variant || 'core' }}
      arch: "amd64"
      model: "generic"
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        secureboot: [false]
        variant: ["core"]
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.3"
        test:
          - "custom-partitioning"
          - "acceptance"
          - "install"
          - "install-target"
          - "reset"
          - "upgrade-with-cli"
          - "bundles"
        include:
          - base_image: "ghcr.io/kairos-io/hadron:v0.0.3"
            release-matcher: "kairos-hadron-0.0.1-core-amd64-generic-v3.7.2.iso"
            test: "upgrade-latest-with-cli"
  standard-tests:
    name: ${{ matrix.base_image }}
    uses: ./.github/workflows/reusable-qemu-test.yaml
    secrets: inherit
    permissions:
      contents: write
      security-events: write
      id-token: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: "ghcr.io/kairos-io/hadron:v0.0.3"
      test: ${{ matrix.test }}
      variant: "standard"
      arch: "amd64"
      model: "generic"
      kubernetes_distro: "k3s"
      use_bridge_network: ${{ matrix.test == 'provider-decentralized-k8s' }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        test:
          - "provider-qrcode-install"
          - "provider-upgrade"
          - "provider-upgrade-k8s"
          - "provider-upgrade-latest-k8s-with-kubernetes"
          - "provider-decentralized-k8s"
          - "provider-k3s-disabled"
          - "encryption-local"
          - "encryption-remote-auto"
          - "encryption-remote-static"
          - "encryption-remote-https-pinned"
          - "encryption-remote-https-bad-cert"
