name: Build AMD64 images (PR)
on:
  pull_request:
    paths:
      - '**'

permissions: read-all
concurrency:
  group: ci-image-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
env:
  FORCE_COLOR: 1
  EARTHLY_TOKEN: ${{ secrets.EARTHLY_TOKEN }}
jobs:
  build:
    name: ${{ matrix.base_image }}
    uses: ./.github/workflows/reusable-build-flavor.yaml
    permissions:
      contents: write
      security-events: write
      id-token: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: ${{ matrix.base_image }}
      variant: ${{ matrix.variant }}
      model: "generic"
      arch: "amd64"
      event_type: ${{ github.event_name }}
    strategy:
      fail-fast: false
      matrix:
        variant: ["core"] # So it shows up in the name, in case we use it for standard
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.19"
  tests:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-qemu-test.yaml
    with:
      base_image: ${{ matrix.base_image }}
      test: ${{ matrix.test }}
      secureboot: ${{ matrix.secureboot || false}}
      variant: "core"
      arch: "amd64"
    needs:
      - build
    strategy:
      fail-fast: true
      matrix:
        secureboot: [false]
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.19"
        test:
          - "custom-partitioning"
          - "autoinstall"
          - "install"
          - "install-target"
          - "reset"
          - "upgrade-with-cli"
          - "upgrade-latest"
          - "bundles"
        include:
          - test: "install-test"
            secureboot: true
            base_image: "ubuntu:24.04"
          - test: "zfs"
            base_image: "ubuntu:24.04"
  netboot:
    name: ${{ matrix.base_image }}
    uses: ./.github/workflows/reusable-qemu-netboot-test.yaml
    secrets: inherit
    with:
      base_image: ${{ matrix.base_image }}
      variant: "core"
    needs:
      - build
    strategy:
      matrix:
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.19"
  encryption:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-encryption-test.yaml
    with:
      base_image: ${{ matrix.base_image }}
      label: ${{ matrix.label }}
      variant: core
    needs:
      - build
    strategy:
      fail-fast: true
      matrix:
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.19"
        label:
          - "local-encryption"
          - "remote-auto"
          - "remote-static"
          - "remote-https-pinned"
          - "remote-https-bad-cert"
