name: 'Build AMD64 images (Master)'

on:
  push:
    branches:
      - master

permissions: read-all
concurrency:
  group: ci-amd64-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  build:
    name: ${{ matrix.base_image }}
    uses: ./.github/workflows/reusable-build-flavor.yaml
    permissions:
      contents: write
      security-events: write
      id-token: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: ${{ matrix.base_image }}
      variant: ${{ matrix.variant }}
      model: "generic"
      arch: "amd64"
      event_type: ${{ github.event_name }}
    strategy:
      fail-fast: false
      matrix:
        variant: ["core", "standard"]
        base_image:
          - "ubuntu:24.04"
          - "ubuntu:22.04"
          - "ubuntu:20.04"
          - "alpine:3.19"
          - "opensuse/leap:15.6"
          - "debian:12"
  tests:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-qemu-test.yaml
    with:
      base_image: ${{ matrix.base_image }}
      test: ${{ matrix.test }}
      secureboot: ${{ matrix.secureboot || false}}
      variant: "core"
      arch: "amd64"
    needs:
      - build
    strategy:
      fail-fast: true
      matrix:
        secureboot: [false]
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.19"
        test:
          - "custom-partitioning"
          - "acceptance"
          - "install"
          - "install-target"
          - "reset"
          - "upgrade-with-cli"
          - "upgrade-latest"
          - "bundles"
        include:
          - test: "install"
            secureboot: true
            base_image: "ubuntu:24.04"
          - test: "install"
            secureboot: true
            base_image: "ubuntu:22.04"
          - test: "install"
            secureboot: true
            base_image: "opensuse/leap:15.6"
          - test: "install"
            secureboot: true
            base_image: "debian:12"
          - test: "zfs"
            base_image: "ubuntu:24.04"
          - test: "acceptance"
            base_image: "ubuntu:22.04"
          - test: "acceptance"
            base_image: "ubuntu:20.04"
          - test: "acceptance"
            base_image: "opensuse/leap:15.6"
          - test: "acceptance"
            base_image: "debian:12"
  netboot:
    name: ${{ matrix.base_image }}
    uses: ./.github/workflows/reusable-qemu-netboot-test.yaml
    secrets: inherit
    with:
      base_image: ${{ matrix.base_image }}
      variant: "core"
    needs:
      - build
    strategy:
      matrix:
        base_image:
          - "ubuntu:24.04"
          - "alpine:3.19"
  encryption:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-encryption-test.yaml
    with:
      base_image: ${{ matrix.base_image }}
      label: ${{ matrix.label }}
      variant: core
    needs:
      - build
    strategy:
      fail-fast: true
      matrix:
        base_image:
          - "ubuntu:24.04"
        label:
          - "encryption-local"
          - "encryption-remote-auto"
          - "encryption-remote-static"
          - "encryption-remote-https-pinned"
          - "encryption-remote-https-bad-cert"
  standard:
    name: ${{ matrix.base_image }}
    secrets: inherit
    uses: ./.github/workflows/reusable-qemu-test.yaml
    permissions:
      contents: write
      security-events: write
      id-token: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: ${{ matrix.base_image }}
      test: ${{ matrix.test }}
      variant: "standard"
      arch: "amd64"
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ubuntu:24.04"
        test:
          - "provider-qrcode-install"
          - "provider-upgrade"
          - "provider-upgrade-k8s"
          - "provider-upgrade-latest-k8s-with-kubernetes"
