name: Build and test images
on:
  push:
    branches:
      - master
    paths:
      - '**'

concurrency:
  group: ci-image-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
env:
  FORCE_COLOR: 1
jobs:
  get-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          git fetch --prune --unshallow
          sudo apt update && sudo apt install -y jq
      - id: set-matrix
        run: |
          content=`cat .github/flavors.json  | jq 'map(select(.frameworkonly != "true"))'`
          # the following lines are only required for multi line json
          # the following lines are only required for multi line json
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          # end of optional handling for multi line json
          # end of optional handling for multi line json
          echo "::set-output name=matrix::{\"include\": $content }"

  get-framework-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - uses: actions/checkout@v3
    - run: |
        git fetch --prune --unshallow
    - id: set-matrix
      run: |
          content=`cat .github/flavors.json`
          # the following lines are only required for multi line json
          # the following lines are only required for multi line json
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          # end of optional handling for multi line json
          # end of optional handling for multi line json
          echo "::set-output name=matrix::{\"include\": $content }"

  build:
    uses: kairos-io/kairos/.github/workflows/reusable-build-flavor.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - get-matrix
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.get-matrix.outputs.matrix)}}


  build-framework:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    uses: kairos-io/kairos/.github/workflows/reusable-build-framework-flavor.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - get-matrix
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.get-framework-matrix.outputs.matrix)}}

  install-test:
    uses: kairos-io/kairos/.github/workflows/reusable-build-flavor.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - build
    strategy:
      fail-fast: true
      matrix:
        include:
          - flavor: opensuse-leap

  zfs-test:
    uses: kairos-io/kairos/.github/workflows/reusable-zfs-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - flavor: "ubuntu"

  qemu-acceptance-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-qemu-acceptance-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - flavor: "alpine-opensuse-leap"
          - flavor: "opensuse-leap"
          - flavor: "opensuse-tumbleweed"
          - flavor: "ubuntu"
          - flavor: "debian"
          - flavor: "ubuntu-20-lts"
          - flavor: "ubuntu-22-lts"

  qemu-bundles-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-qemu-bundles-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - flavor: opensuse-tumbleweed # Kubo test needs systemd version 252+ which atm is not available in Leap

  qemu-reset-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-qemu-reset-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - flavor: alpine-opensuse-leap
          - flavor: opensuse-leap

  qemu-netboot-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-qemu-netboot-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - flavor: alpine-opensuse-leap
          - flavor: opensuse-leap
          - flavor: ubuntu

  upgrade-with-cli-test:
    uses: kairos-io/kairos/.github/workflows/reusable-upgrade-with-cli-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - flavor: alpine-opensuse-leap
          - flavor: opensuse-leap

  upgrade-latest-with-cli-test:
    uses: kairos-io/kairos/.github/workflows/reusable-upgrade-latest-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
    needs:
    - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - flavor: alpine-opensuse-leap
          - flavor: opensuse-leap
          # - flavor: "ubuntu"
          # - flavor: "ubuntu"
          # - flavor: "ubuntu"

  encryption-tests:
    uses: kairos-io/kairos/.github/workflows/reusable-encryption-test.yaml@1556-pr-one-flavor-pt2
    with:
      flavor: ${{ matrix.flavor }}
      label: ${{ matrix.label }}
    needs:
      - build
    strategy:
      fail-fast: true
      matrix:
        label:
          - "local-encryption"
          - "remote-auto"
          - "remote-static"
          - "remote-https-pinned"
          - "remote-https-bad-cert"
        flavor:
          - "opensuse-leap"
