on:
  pull_request:
    paths:
      - '**'

concurrency:
  group: ci-image-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
env:
  FORCE_COLOR: 1
jobs:
  core:
    uses: ./.github/workflows/reusable-build-flavor.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
      family: ubuntu
      base_image: ubuntu:23.04
      model: generic
      variant: core
      arch: amd64

  core-alpine:
    uses: ./.github/workflows/reusable-build-flavor.yaml
    with:
      flavor: alpine
      flavor_release: "3.18"
      family: alpine
      base_image: alpine:3.18
      model: generic
      variant: core
      arch: amd64

  install:
    uses: ./.github/workflows/reusable-install-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
    needs:
      - core

  install-alpine:
    uses: ./.github/workflows/reusable-install-test.yaml
    with:
      flavor: alpine
      flavor_release: "3.18"
    needs:
      - core-alpine

  zfs:
    uses: ./.github/workflows/reusable-zfs-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
    needs:
      - core

  acceptance:
    uses: ./.github/workflows/reusable-qemu-acceptance-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
    needs:
      - core

  acceptance-alpine:
    uses: ./.github/workflows/reusable-qemu-acceptance-test.yaml
    with:
      flavor: alpine
      flavor_release: "3.18"
    needs:
      - core-alpine

  bundles:
    uses: ./.github/workflows/reusable-qemu-bundles-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
    needs:
      - core

  reset:
    uses: ./.github/workflows/reusable-qemu-reset-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
    needs:
      - core

  reset-alpine:
    uses: ./.github/workflows/reusable-qemu-reset-test.yaml
    with:
      flavor: alpine
      flavor_release: "3.18"
    needs:
      - core-alpine

  netboot:
    uses: ./.github/workflows/reusable-qemu-netboot-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
      family: ubuntu
      base_image: ubuntu:23.04
      model: generic
      variant: core
    needs:
      - core

  netboot-alpine:
    uses: ./.github/workflows/reusable-qemu-netboot-test.yaml
    with:
      flavor: alpine
      flavor_release: "3.18"
      family: alpine
      base_image: alpine:3.18
      model: generic
      variant: core
    needs:
      - core-alpine

  upgrade:
    uses: ./.github/workflows/reusable-upgrade-with-cli-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
    needs:
      - core

  upgrade-alpine:
    uses: ./.github/workflows/reusable-upgrade-with-cli-test.yaml
    with:
      flavor: alpine
      flavor_release: "3.18"
    needs:
      - core-alpine

  upgrade-latest:
    uses: ./.github/workflows/reusable-upgrade-latest-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
    needs:
      - core

  # enable once the first alpine only release is out as it currently cannot find the latest alpine release properly
  #upgrade-latest-alpine:
  #  uses: ./.github/workflows/reusable-upgrade-latest-test.yaml
  #  with:
  #    flavor: alpine
  #    flavor_release: "3.18"
  #  needs:
  #    - core-alpine

  encryption:
    uses: ./.github/workflows/reusable-encryption-test.yaml
    with:
      flavor: ubuntu
      flavor_release: "23.04"
      label: ${{ matrix.label }}
    needs:
      - core
    strategy:
      fail-fast: true
      matrix:
        label:
          - "local-encryption"
          - "remote-auto"
          - "remote-static"
          - "remote-https-pinned"
          - "remote-https-bad-cert"

  encryption-alpine:
    uses: ./.github/workflows/reusable-encryption-test.yaml
    with:
      flavor: alpine
      flavor_release: "3.18"
      label: ${{ matrix.label }}
    needs:
      - core-alpine
    strategy:
      fail-fast: true
      matrix:
        label:
          - "local-encryption"
          - "remote-auto"
          - "remote-static"
          - "remote-https-pinned"
          - "remote-https-bad-cert"
