name: 'Build ARM images (PR)'

on:
  pull_request:

permissions:
  contents: write
  security-events: write
  id-token: write
  actions: read
concurrency:
  group: ci-pr-arm64-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  build-board:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    strategy:
      fail-fast: false
      matrix:
        model: ["rpi4", "rpi3", "generic", "nvidia-jetson-agx-orin", "nvidia-jetson-orin-nx"]
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.1"
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      model: ${{ matrix.model }}
      arch: "arm64"
      version: "auto"
      raw: true
      grype: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      registry_repository: "ci-temp-images"
      custom_tag_format: "$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL-$COMMIT_SHA"
      custom_artifact_format: "kairos-$FLAVOR-$FLAVOR_RELEASE-$VARIANT-$ARCH-$MODEL"
      image_labels: "quay.expires-after=6h"
      summary_artifacts: true
