name: Lint
on:
  push:
    branches:
      - master
    paths:
      - '!docs/**'
  pull_request:
    paths:
      - '!docs/**'
      - '.github/**'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18
      - name: Run Lint checks
        run: |
          ./earthly.sh +lint
