name: Release AMD64 artifacts

on:
  push:
    tags:
      - v*
permissions: read-all
jobs:
  core:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    permissions:
      id-token: write  # OIDC support
      contents: write
      security-events: write
      actions: read
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.3"
        trusted_boot:
          - false
          - true
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      arch: "amd64"
      model: "generic"
      version: "auto"
      no_cache: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      trusted_boot: ${{ matrix.trusted_boot }}
      iso: ${{ !matrix.trusted_boot }}
      grype: true
      grype_sarif: true
      trivy: true
      trivy_sarif: true
      list_release_artifacts: ${{ !matrix.trusted_boot }}
      cosign: true
      release: ${{ !matrix.trusted_boot }}
  get-k3s-versions:
    runs-on: ubuntu-latest
    outputs:
      kubernetes_versions: ${{ steps.get-k3s-releases.outputs.kubernetes_versions }}
    steps:
      - run: |
          sudo apt update && sudo apt install -y jq curl
      - name: Get latest k3s releases
        id: get-k3s-releases
        run: |
          kubernetes_versions=$(curl -s https://api.github.com/repos/k3s-io/k3s/releases | jq -r '
            [.[] | select(.prerelease == false and .draft == false and (.tag_name | test("rc") | not)) | .tag_name]
            | map(select(test("^v[0-9]+\\.[0-9]+\\.[0-9]+\\+k3s[0-9]+$")))
            | map({
               version: .,
               minor: (split(".")[1:2]|join("")),
               patch: (split(".")[2:3]|join("")|split("+")[0]),
               revision: (split("+k3s")[1])
             })
           | group_by(.minor)
           | map(sort_by([(.patch | tonumber), (.revision | tonumber)]) | reverse | .[0])
           | sort_by(.minor | tonumber)
           | reverse
           | .[0:3]
           | map(.version)
          ' | jq -c '.')
          echo "kubernetes_versions=$kubernetes_versions" >> $GITHUB_OUTPUT

  get-k0s-versions:
    runs-on: ubuntu-latest
    outputs:
      kubernetes_versions: ${{ steps.get-k0s-releases.outputs.kubernetes_versions }}
    steps:
      - run: |
          sudo apt update && sudo apt install -y jq curl
      - name: Get latest k0s releases
        id: get-k0s-releases
        run: |
          kubernetes_versions=$(curl -s https://api.github.com/repos/k0sproject/k0s/releases | jq -r '
           [.[] | select(.prerelease == false and .draft == false and (.tag_name | test("rc") | not)) | .tag_name]
           | map(select(test("^v[0-9]+\\.[0-9]+\\.[0-9]+\\+k0s\\.[0-9]+$")))
           | map({
             version: .,
             minor: (split(".")[1:2]|join("")),
             patch: (split(".")[2:3]|join("")|split("+")[0]),
             revision: (split("+k0s.")[1])
           })
           | group_by(.minor)
           | map(sort_by([(.patch | tonumber), (.revision | tonumber)]) | reverse | .[0])
           | sort_by(.minor | tonumber)
           | reverse
           | .[0:3]
           | map(.version)
           '| jq -c '.')
          echo "kubernetes_versions=$kubernetes_versions" >> $GITHUB_OUTPUT

  standard-k3s:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    needs:
      - get-k3s-versions
    permissions:
      id-token: write  # OIDC support
      contents: write
      security-events: write
      actions: read
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.3"
        kubernetes_version: ${{ fromJson(needs.get-k3s-versions.outputs.kubernetes_versions) }}
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      arch: "amd64"
      model: "generic"
      version: "auto"
      no_cache: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      iso: true
      kubernetes_version: ${{ matrix.kubernetes_version }}
      kubernetes_distro: "k3s"
      grype: true
      grype_sarif: true
      trivy: true
      trivy_sarif: true
      list_release_artifacts: true
      cosign: true
      release: true
  standard-k0s:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    needs:
      - get-k0s-versions
    permissions:
      id-token: write  # OIDC support
      contents: write
      security-events: write
      actions: read
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.3"
        kubernetes_version: ${{ fromJson(needs.get-k0s-versions.outputs.kubernetes_versions) }}
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      arch: "amd64"
      model: "generic"
      version: "auto"
      no_cache: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      iso: true
      kubernetes_version: ${{ matrix.kubernetes_version }}
      kubernetes_distro: "k0s"
      grype: true
      grype_sarif: true
      trivy: true
      trivy_sarif: true
      list_release_artifacts: true
      cosign: true
      release: true
