name: Release ARM artifacts

on:
  push:
    tags:
      - v*
permissions: read-all
jobs:
  core:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    permissions:
      id-token: write  # OIDC support
      contents: write
      security-events: write
      actions: read
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.3"
        model:
          - "generic"
          - "rpi4"
        cleanup: [true]
        include:
          - model: "nvidia-jetson-agx-orin"
            base_image: "ubuntu:22.04"
            cleanup: true
          - model: "nvidia-jetson-orin-nx"
            base_image: "ubuntu:22.04"
            cleanup: true
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      arch: "arm64"
      model: ${{ matrix.model }}
      version: "auto"
      no_cache: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      grype: true
      grype_sarif: true
      trivy: true
      trivy_sarif: true
      list_release_artifacts: true
      cosign: true
      release: true
      iso: ${{ matrix.model == 'generic' }} # only produce ISOs for generic
      cleanup: ${{ matrix.cleanup }}
  get-k3s-versions:
    runs-on: ubuntu-latest
    outputs:
      kubernetes_versions: ${{ steps.get-k3s-releases.outputs.kubernetes_versions }}
    steps:
      - run: |
          sudo apt update && sudo apt install -y jq curl
      - name: Get latest k3s releases
        id: get-k3s-releases
        run: |
          kubernetes_versions=$(curl -s https://api.github.com/repos/k3s-io/k3s/releases | jq -r '
            [.[] | select(.prerelease == false and .draft == false and (.tag_name | test("rc") | not)) | .tag_name]
            | map({
                version: .,
                minor: (split(".")[1:2]|join("")),
                patch: (split(".")[2:3]|join("")|split("+")[0]),
                revision: (split("+k3s")[1])
              })
            | group_by(.minor)
            | map(sort_by([(.patch | tonumber), (.revision | tonumber)]) | reverse | .[0])
            | sort_by(.minor | tonumber)
            | reverse
            | .[0:3]
            | map(.version)
          ' | jq -c '.')
          echo "kubernetes_versions=$kubernetes_versions" >> $GITHUB_OUTPUT
  standard:
    name: ${{ matrix.base_image }}
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@583ec0586948b7b8e7692f6db22e902b373d48f3 # v0.0.13
    secrets:
      registry_username: ${{ secrets.QUAY_USERNAME }}
      registry_password: ${{ secrets.QUAY_PASSWORD }}
    needs:
      - get-k3s-versions
    permissions:
      id-token: write  # OIDC support
      contents: write
      security-events: write
      actions: read
    strategy:
      fail-fast: false
      matrix:
        kubernetes_version: ${{ fromJson(needs.get-k3s-versions.outputs.kubernetes_versions) }}
        base_image:
          - "ghcr.io/kairos-io/hadron:v0.0.3"
        model:
          - "generic"
          - "rpi4"
        cleanup: [false]
        include:
          - model: "nvidia-jetson-agx-orin"
            base_image: "ubuntu:22.04"
            cleanup: true
            grype: true
          - model: "nvidia-jetson-orin-nx"
            base_image: "ubuntu:22.04"
            cleanup: true
            grype: false # too many vulns under the L4T rootfs
    with:
      auroraboot_version: "v0.19.1"
      dockerfile_path: "images/Dockerfile"
      base_image: ${{ matrix.base_image }}
      arch: "arm64"
      model: ${{ matrix.model }}
      kubernetes_version: ${{ matrix.kubernetes_version }}
      kubernetes_distro: "k3s"
      version: "auto"
      no_cache: true
      registry_domain: "quay.io"
      registry_namespace: "kairos"
      iso: ${{ matrix.model == 'generic' }} # only produce ISOs for generic
      grype: ${{ matrix.grype }}
      grype_sarif: true
      trivy: true
      trivy_sarif: true
      list_release_artifacts: true
      cosign: true
      release: true
      cleanup: ${{ matrix.cleanup }}
