name: Reusable workflow - install test

on:
  workflow_call:
    inputs:
      flavor:
        required: true
        type: string

jobs:
  build:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - run: |
          git fetch --prune --unshallow
      - name: Download ISO
        id: iso
        uses: actions/download-artifact@v3
        with:
          name: kairos-${{ inputs.flavor }}.iso.zip
      - name: Unzip ISO
        run: ls -las ${{steps.iso.outputs.download-path}} && unzip ${{steps.iso.outputs.download-path}}/kairos-${{ inputs.flavor }}.iso.zip
      - name: Install deps
        run: |
          brew install cdrtools jq gsed
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version-file: tests/go.mod
          cache-dependency-path: tests/go.sum
      - run: |
          export ISO=${{steps.iso.outputs.download-path}}/kairos-${{ inputs.flavor }}.iso
          export GOPATH="/Users/runner/go"
          export PATH=$PATH:$GOPATH/bin
          export CREATE_VM=true
          export FLAVOR=${{ inputs.flavor }}
          cd tests
          go run github.com/onsi/ginkgo/v2/ginkgo --label-filter "install-test" --fail-fast -r ./...
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: ${{ inputs.flavor }}-vbox.logs.zip
          path: tests/**/logs/*
          if-no-files-found: warn
