name: Reusable workflow - qemu acceptance test

on:
  workflow_call:
    inputs:
      flavor:
        required: true
        type: string
      flavor_release:
        required: true
        type: string

permissions: read-all
jobs:
  test:
    runs-on: kvm
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - run: |
        git fetch --prune --unshallow
    - name: Download ISO
      id: iso
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: kairos-${{ inputs.flavor }}-${{ inputs.flavor_release }}.iso.zip
    - name: Install Go
      uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5
      with:
        go-version-file: tests/go.mod
        cache-dependency-path: tests/go.sum
    - name: Display structure of downloaded files
      run: ls -las .
    - name: Install earthly
      uses: Luet-lab/luet-install-action@cec77490c3f2416d7d07a47cfab04d448641d7ce # v1.1
      with:
        repository: quay.io/kairos/packages
        packages: utils/earthly
    - name: Block all traffic to metadata ip  # For cloud runners, the metadata ip can interact with our test machines
      run: |
        sudo iptables -I INPUT -s 169.254.169.254 -j DROP
        sudo iptables -I OUTPUT -d 169.254.169.254 -j DROP
    - name: Login to earthly
      run: |
        earthly account login --token ${{ secrets.EARTHLY_TOKEN }} && earthly org select Kairos

    - name: Enable KVM group perms
      run: |
        sudo apt-get update
        sudo apt-get install -y libvirt-clients libvirt-daemon-system libvirt-daemon virtinst bridge-utils qemu qemu-system-x86 qemu-system-x86 qemu-utils qemu-kvm acl udev

        # https://github.blog/changelog/2023-02-23-hardware-accelerated-android-virtualization-on-actions-windows-and-linux-larger-hosted-runners/
        # echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
        # sudo udevadm control --reload-rules
        # sudo udevadm trigger --name-match=kvm
        # sudo usermod -a -G kvm,libvirt $USER
        #
        # TODO: Switch back to the above solution when we switch to the github runners
        # https://askubuntu.com/a/1081326
        sudo setfacl -m u:runner:rwx /dev/kvm
    - env:
        USE_QEMU: true
        KVM: true
        MEMORY: 4000
        CPUS: 2
        DRIVE_SIZE: 30000
        CREATE_VM: true
      run: |
        earthly +datasource-iso --CLOUD_CONFIG=./tests/assets/autoinstall.yaml
        export DATASOURCE=$PWD/build/datasource.iso
        export ISO=$PWD/$(ls *${{ inputs.flavor }}*.iso)
        go run github.com/onsi/ginkgo/v2/ginkgo -v --label-filter "autoinstall-test" --fail-fast -r tests/
