name: Reusable workflow - qemu netboot test

on:
  workflow_call:
    inputs:
      flavor:
        required: true
        type: string
      flavor_release:
        required: true
        type: string
      family:
        required: true
        type: string
      base_image:
        required: true
        type: string
      model:
        required: true
        type: string
      variant:
        required: true
        type: string

permissions: read-all
jobs:
  test:
    runs-on: kvm
    steps:
      - uses: actions/checkout@v4
      - name: Block all traffic to metadata ip  # For cloud runners, the metadata ip can interact with our test machines
        run: |
          sudo iptables -I INPUT -s 169.254.169.254 -j DROP
          sudo iptables -I OUTPUT -d 169.254.169.254 -j DROP
      - name: Install Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5
        with:
          go-version-file: tests/go.mod
          cache-dependency-path: tests/go.sum
      - uses: actions/checkout@v4
        with:
          repository: "ipxe/ipxe"
          path: "ipxe"
          fetch-depth: '0'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y mtools syslinux isolinux git make gcc liblzma-dev mkisofs xorriso build-essential
      - name: Build iPXE iso with our script on it
        run: |
          cp tests/assets/kairos.ipxe ipxe/src/kairos.ipxe
          pushd ipxe/src && make bin/ipxe.iso EMBED=kairos.ipxe && popd
          cp ipxe/src/bin/ipxe.iso ipxe.iso
      - name: Download ISO
        id: iso
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: kairos-${{ inputs.flavor }}-${{ inputs.flavor_release }}-${{ inputs.variant }}.iso.zip
      - name: Extract ipxe artifacts for the ipxe server
        run: |
          mkdir -p build
          export ISO=$(ls $PWD/*${{ inputs.flavor }}*.iso)
          isoinfo -x /rootfs.squashfs -R -i ${ISO} > build/kairos.squashfs
          isoinfo -x /boot/kernel -R -i ${ISO} > build/kairos-kernel
          isoinfo -x /boot/initrd -R -i ${ISO} > build/kairos-initrd
      - name: Run tests
        env:
          USE_QEMU: true
          KVM: true
          MEMORY: 4000
          CPUS: 2
        run: |
          # Run the http server in the background
          docker run -d -v $PWD/build/:/build --workdir=/build --net=host python:3.11.0-alpine python3 -m http.server 80
          export ISO=$PWD/ipxe.iso
          cp tests/go.* .
          go mod download
          go run github.com/onsi/ginkgo/v2/ginkgo -v --label-filter "netboot-test" --fail-fast -r ./tests/
          
