name: Reusable workflow - zfs test

on:
  workflow_call:
    inputs:
      flavor:
        required: true
        type: string
      flavor_release:
        required: true
        type: string

jobs:
  test:
    runs-on: kvm
    steps:
      - uses: actions/checkout@v4
      - name: Download ISO
        id: iso
        uses: actions/download-artifact@v4.1.6
        with:
          name: kairos-${{ inputs.flavor }}-${{ inputs.flavor_release }}.iso.zip
      - name: Display structure of downloaded files
        run: ls -R
      - name: Install earthly
        uses: Luet-lab/luet-install-action@v1.1
        with:
          repository: quay.io/kairos/packages
          packages: utils/earthly
      - name: Block all traffic to metadata ip  # For cloud runners, the metadata ip can interact with our test machines
        run: |
          sudo iptables -I INPUT -s 169.254.169.254 -j DROP
          sudo iptables -I OUTPUT -d 169.254.169.254 -j DROP
      - run: |
          earthly +run-qemu-test --PREBUILT_ISO=$(ls *${{ inputs.flavor }}*.iso) --TEST_SUITE=zfs --FLAVOR=${{ inputs.flavor }}
