name: Reusable workflow - upgrade latest with cli test

on:
  workflow_call:
    inputs:
      base_image:
        required: true
        type: string
      label:
        required: true
        type: string
      variant:
        required: true
        type: string

permissions: read-all
jobs:
  test:
    name: ${{ inputs.label }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -eo pipefail {0}
    steps:
      - name: Split base image
        id: split
        run: |
          echo "::set-output name=flavor::$(echo ${{ inputs.base_image }} | cut -d ':' -f 1 | sed  's/\//-/g')"
          echo "::set-output name=flavor_release::$(echo ${{ inputs.base_image }} | cut -d ':' -f 2)"
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: tests/go.mod
          cache-dependency-path: tests/go.sum
      - name: Deps
        run: |
          sudo apt update && \
          sudo apt install -y git qemu-system-x86 qemu-utils swtpm jq make glibc-tools \
          openssl curl gettext ca-certificates curl gnupg lsb-release

          curl -L  https://github.com/mudler/luet/releases/download/0.33.0/luet-0.33.0-linux-amd64 -o luet
          chmod +x luet
          sudo mv luet /usr/bin/luet
          sudo mkdir -p /etc/luet/repos.conf.d/
          sudo luet repo add -y kairos --url quay.io/kairos/packages --type docker
          LUET_NOLOCK=true sudo -E luet install -y container/kubectl utils/k3d
      - name: Download ISO
        id: iso
        uses: actions/download-artifact@v4.1.8
        with:
          name: kairos-${{ steps.split.outputs.flavor }}-${{ steps.split.outputs.flavor_release }}-${{ inputs.variant }}.iso.zip
      - name: Display structure of downloaded files
        run: ls -las .
      - name: Block all traffic to metadata ip  # For cloud runners, the metadata ip can interact with our test machines
        run: |
          sudo iptables -I INPUT -s 169.254.169.254 -j DROP
          sudo iptables -I OUTPUT -d 169.254.169.254 -j DROP
      - name: Run tests
        env:
          LABEL: ${{ inputs.label }}
          EMULATE_TPM: true
          CREATE_VM: true
          USE_QEMU: true
          MEMORY: 4000
          CPUS: 2
        run: |
          export ISO=$(ls $PWD/*${{ steps.split.outputs.flavor }}*.iso)
          .github/encryption-tests.sh
