name: Reusable workflow that runs tests with qemu

on:
  workflow_call:
    inputs:
      test:
        required: true
        type: string
      base_image:
        required: true
        type: string
      variant:
        required: true
        type: string
      secureboot:
        required: false
        type: boolean
        default: false
      arch:
        required: true
        type: string
      model:
        required: false
        type: string
        default: "generic"

permissions: read-all
jobs:
  test:
    runs-on: fast
    name: ${{ inputs.test }}${{ inputs.secureboot == true && ' - SecureBoot' || '' }}
    steps:
      - name: Split base image
        id: split
        run: |
          echo "::set-output name=flavor::$(echo ${{ inputs.base_image }} | cut -d ':' -f 1 | sed  's/\//-/g')"
          echo "::set-output name=flavor_release::$(echo ${{ inputs.base_image }} | cut -d ':' -f 2)"
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: tests/go.mod
          cache-dependency-path: tests/go.sum
      - name: Block all traffic to metadata ip  # For cloud runners, the metadata ip can interact with our test machines
        run: |
          sudo iptables -I INPUT -s 169.254.169.254 -j DROP
          sudo iptables -I OUTPUT -d 169.254.169.254 -j DROP
      - name: Enable KVM group perms
        run: |
          sudo apt-get update
          sudo apt-get install -y libvirt-clients libvirt-daemon-system libvirt-daemon virtinst bridge-utils qemu qemu-system-x86 qemu-system-x86 qemu-utils qemu-kvm acl udev mkisofs swtpm
          sudo setfacl -m u:runner:rwx /dev/kvm
      - name: Download artifacts
        if: ${{ inputs.test != 'upgrade-latest' || inputs.test != 'provider-upgrade-latest-k8s-with-kubernetes' }}
        uses: actions/download-artifact@v4.1.8
        with:
          name: kairos-${{ steps.split.outputs.flavor }}-${{ steps.split.outputs.flavor_release }}-${{ inputs.variant }}.iso.zip
      - name: Download latest release
        uses: robinraju/release-downloader@v1.11
        if: ${{ inputs.test == 'upgrade-latest' || inputs.test == 'provider-upgrade-latest-k8s-with-kubernetes' }}
        with:
          latest: true
          fileName: 'kairos-${{ steps.split.outputs.flavor }}-${{ steps.split.outputs.flavor_release }}-${{ inputs.variant }}-${{ inputs.arch }}-${{ inputs.model }}-*.iso'
          out-file-path: ""
      - name: Prepare test bundle
        if: ${{ inputs.test == 'bundles' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: examples/bundle/Dockerfile
          platforms: linux/${{ inputs.arch }}
          push: true
          tags: ttl.sh/bundles-test:24h
      - name: Run tests
        env:
          USE_QEMU: true
          KVM: true
          MEMORY: 4000
          DRIVE_SIZE: 30000
          CREATE_VM: true
          CPUS: 2
          CONTAINER_IMAGE: ttl.sh/kairos-${{ steps.split.outputs.flavor }}-${{ steps.split.outputs.flavor_release }}-${{ inputs.variant }}-${{ inputs.arch }}-${{ github.sha }}:24h
        run: |
          if [ "${{ inputs.secureboot }}" = "true" ]; then
            export FIRMWARE=/usr/share/OVMF/OVMF_CODE.fd
            echo "Secure boot enabled, setting firmware to $FIRMWARE"
          fi
          export ISO=$PWD/$(ls *.iso)
          echo "ISO is: $ISO"
          cp tests/go.* .
          go mod download
          go run github.com/onsi/ginkgo/v2/ginkgo -v --label-filter "${{ inputs.test }}" --fail-fast -r ./tests/
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ steps.split.outputs.flavor }}-${{ steps.split.outputs.flavor_release }}-${{ inputs.variant }}-${{ inputs.test }}.logs.zip
          path: tests/**/logs/*
          if-no-files-found: warn
