name: Manual UKI tests against specific branches
on:
  workflow_dispatch:
    inputs:
      immucore_branch:
        description: 'Immucore branch to build against'
        required: false
        type: string
        default: "main"
      agent_branch:
        description: 'Kairos-agent branch to build against'
        required: false
        type: string
        default: "main"

permissions: read-all
concurrency:
  group: ci-uki-branches-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
env:
  FORCE_COLOR: 1
jobs:
  test-uki-ubuntu-lts:
    uses: ./.github/workflows/reusable-uki-test.yaml
    permissions:
      id-token: write  # OIDC support
      contents: write
      security-events: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: ubuntu:24.04
      family: ubuntu
      flavor: ubuntu
      flavor_release: 24.04
  test-uki-fedora:
    uses: ./.github/workflows/reusable-uki-test.yaml
    permissions:
      id-token: write  # OIDC support
      contents: write
      security-events: write
      actions: read
      attestations: read
      checks: read
      deployments: read
      discussions: read
      issues: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    with:
      base_image: fedora:40
      family: rhel
      flavor: fedora
      flavor_release: 40
