name: Unit tests
on:
  push:
    branches:
      - master
    paths:
      - '!docs/**'
  pull_request:
    paths:
      - '!docs/**'
      - 'tests/**'
      - 'pkg/**'
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.18'
      - name: Run Build
        run: |
          ./earthly.sh +dist
      - name: Run tests
        run: |
          ./earthly.sh +test
      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.out
      - uses: actions/upload-artifact@v3
        with:
          name: build.zip
          path: |
            dist/*
